name: Deploy Prod

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install deps
        run: npm install

      - name: Run migrations (Prod)
        env:
          DATABASE_URL: ${{ secrets.PROD_DATABASE_URL }}
        run: npm run migrate

      - name: Deploy do Vercel (prod)
        env: 
            VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
            VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_PROD }}
            VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }} 
        run: | 
          npx vercel pull --yes --environment=production --token "$VERCEL_TOKEN"
          npx vercel deploy --prod --yes --token "$VERCEL_TOKEN"
